c = get_config()
c.InteractiveShellApp.extensions = [
	'autoreload'
]
c.InteractiveShellApp.exec_lines = [
	'%autoreload 2',
	'import matplotlib',
	'matplotlib.use(\'module://itermplot\')',
	'import matplotlib.pyplot as plt',
	'import numpy as np'
]
c.TerminalInteractiveShell.confirm_exit = False
