# Bash completions
[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion
{% if bash.user_bash_completions_directory %}
[ -d {{ bash.user_bash_completions_directory }} ] && for f in $(ls {{ bash.user_bash_completions_directory }}); do
	[ -f "$f" ] && . "$f"
done
{% endif %}

# Terminal
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# PS1 if powerline fails
export PS1='\[\e[0;32m\]\u@\h\[\e[m\]\[\e[1;34m\]:\W\[\e[m\] \$ '

# Multirepo
export GITMULTIREPO_INVENTORY=~/.gitmultirepo/inventory.yaml

# Ansible
export ANSIBLE_CONFIG=~/.ansible/ansible.cfg

export KRB5CCNAME=${HOME}/.krb5.ccache
alias minit='kinit -c ~/.krb5.ccache $USER && klist -c ~/.krb5.ccache'

# Lazy hands
alias date="date '+%Y-%m-%d %H:%M:%S'"
alias pyprofile="python -m cProfile -s cumtime $@"
function pylineprofile() { python -m kernprof -l $@; python -m line_profiler $1.lprof; }
alias ll='ls -laG'
alias go='git co'
alias gi='git ci'
alias gs='git st'
alias gl='git ll'

alias einar='echo "einar says: $(dd if=/dev/random bs=1 count=5)!"'
alias ipython="python -m IPython"

# CLI googling
function chrome() { for arg in "$@"; do open -a "Google Chrome" ${arg}; done }
function google() { for arg in "$@"; do open -a "Google Chrome" "https://google.com/search?q=${arg}"; done }

{% if bash.powerline %}
# Powerline
# if installed, then use it
command -v powerline-daemon &>/dev/null
if [[ "$?" == "0" ]]; then
	powerline-daemon -q
	POWERLINE_BASH_CONTINUATION=1
	POWERLINE_BASH_SELECT=1
	. $(pip show powerline-status | grep "Location" | awk '{print $2}')/powerline/bindings/bash/powerline.sh
fi
{% endif %}
